html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
}

* {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header {
  padding-top: 20px;
  width: 100%;
}

.wrapper {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .burger {
  display: none;
}

.nav .logo {
  font-size: 2em;
  color: #000;
}

.nav .logo-grey {
  color: #263238;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
}

.nav__item:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.nav__link {
  color: #263238;
  font-size: 1.25em;
}

.nav__link:hover {
  color: #8f95a5;
}

.nav__button {
  -ms-grid-column-align: end;
      justify-self: end;
  font-size: 1.5em;
  color: #263238;
  border: 2px solid #263238;
  border-radius: 5px;
  padding: 0.5em 2em;
}

.nav__button:hover {
  color: #8f95a5;
  border: 2px solid #8f95a5;
  scale: 1.1;
}

@media (max-width: 992px) {
  .nav .logo {
    font-size: 1.8em;
  }
  .nav__link {
    font-size: 1em;
  }
  .nav__button {
    font-size: 1.125em;
  }
}

@media (max-width: 767px) {
  .nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav .burger-active {
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    background-image: url(../images/bugreg-ico.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .nav__list {
    display: none;
  }
  .nav__button {
    display: none;
  }
}

.text-block {
  margin-top: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: minmax(1fr, 1fr);
      grid-template-rows: minmax(1fr, 1fr);
  gap: 50px;
}

.text-block .left-aside {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(1fr, 540px);
      grid-template-columns: minmax(1fr, 540px);
  gap: 40px;
}

.text-block .left-aside__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.text-block .left-aside__subtitle {
  font-size: 1.5em;
  color: #8f95a5;
  max-width: 520px;
  line-height: 36px;
}

.text-block .left-aside__button {
  font-size: 2em;
  color: #fff;
  background-color: #263238;
  padding: 1em 3.25em;
  border-radius: 15px;
  max-width: 340px;
}

.text-block .left-aside__button:hover {
  background: #3c4f58;
}

.text-block .title-block__title {
  font-size: 4em;
  color: #000;
  font-weight: 600;
  line-height: 80px;
}

.text-block .title-block__img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 90px;
  height: 90px;
}

.text-block .right-img {
  width: 100%;
  background-image: url(../images/languages-girl.png);
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .text-block {
    margin-top: 75px;
  }
  .text-block .left-aside {
    gap: 30px;
  }
  .text-block .left-aside__title-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2em;
  }
  .text-block .left-aside__subtitle {
    font-size: 1.25em;
    line-height: 30px;
  }
  .text-block .left-aside__button {
    font-size: 1.5em;
    max-width: 260px;
  }
  .text-block .title-block__title {
    font-size: 3em;
    line-height: 60px;
    color: #000;
    font-weight: 600;
  }
  .text-block .title-block__img {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 767px) {
  .text-block {
    margin-top: 50px;
  }
  .text-block .left-aside {
    gap: 30px;
  }
  .text-block .left-aside__title-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2em;
  }
  .text-block .left-aside__subtitle {
    font-size: 1em;
    line-height: 24px;
  }
  .text-block .left-aside__button {
    font-size: 1em;
    max-width: 170px;
  }
  .text-block .title-block__title {
    font-size: 2em;
    line-height: 45px;
    color: #000;
    font-weight: 600;
  }
  .text-block .title-block__img {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 575px) {
  .text-block {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 312px 1fr;
        grid-template-rows: 312px 1fr;
    grid-auto-flow: column;
    margin-top: 10px;
    gap: 20px;
  }
  .text-block .left-aside {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    gap: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .text-block .title-block__title {
    text-align: center;
  }
  .text-block .title-block__img {
    display: none;
  }
  .text-block .right-img {
    width: 100%;
    background-image: url(../images/languages-girl.png);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 450px) {
  .text-block {
    -ms-grid-rows: 220px 1fr;
        grid-template-rows: 220px 1fr;
  }
  .text-block .left-aside__button {
    width: 100%;
    max-width: 320px;
  }
  .text-block .left-aside .title-block__title {
    line-height: 36px;
  }
  .title-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 0.85em;
  }
}

.skills {
  margin-top: 120px;
}

.title {
  font-size: 3em;
  font-weight: 600;
  color: #000;
  text-align: center;
}

.skills-grid {
  margin-top: 90px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: minmax(1fr, 300px);
      grid-template-rows: minmax(1fr, 300px);
  gap: 20px;
}

.skills-grid__card {
  background: #f5f5f5;
  border-radius: 10px;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 3em;
  padding-right: 3em;
  text-align: center;
}

.grid-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.grid-1 .skills-card-text {
  gap: 3em;
}

.grid-4 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.grid-4 img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.skills-card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  font-size: 1.2em;
  text-align: start;
  line-height: 24px;
}

.skills-card__img {
  width: 100%;
  height: 100%;
  max-height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 30px;
}

.skills-card__title {
  font-size: 2em;
  color: #263238;
}

.skills-card__subtitle {
  font-size: 1em;
  color: #8f95a5;
}

.skills-card__button {
  font-size: 1rem;
  color: #fff;
  background-color: #263238;
  padding: 0.8em;
  border-radius: 5px;
  max-width: 150px;
  text-align: center;
}

.skills-card__button:hover {
  background: #3c4f58;
}

@media (max-width: 992px) {
  .skills {
    margin-top: 50px;
  }
  .skills-grid {
    margin-top: 50px;
  }
  .title {
    font-size: 2em;
  }
  .skills-card__img {
    width: 100%;
    max-height: 130px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-bottom: 30px;
  }
  .skills-card__title {
    font-size: 1.3em;
  }
  .skills-card__subtitle {
    font-size: 0.7em;
  }
  .skills-card__button {
    font-size: 0.8em;
  }
  .skills-card-text {
    line-height: 16px;
    gap: 20px;
  }
  .grid-1 .skills-card-text {
    gap: 2em;
  }
}

@media (max-width: 767px) {
  .skills {
    margin-top: 40px;
  }
  .skills-grid {
    margin-top: 40px;
  }
  .title {
    font-size: 1.7em;
  }
  .skills-card__img {
    width: 100%;
    max-height: 130px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-bottom: 20px;
  }
  .skills-card__title {
    font-size: 1em;
  }
  .skills-card__subtitle {
    font-size: 0.6em;
  }
  .skills-card__button {
    font-size: 0.8em;
  }
  .skills-card-text {
    line-height: 14px;
    gap: 15px;
  }
  .grid-1 .skills-card-text {
    gap: 1.3em;
  }
}

@media (max-width: 575px) {
  .skills-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .skills-grid__card {
    padding: 1em;
  }
  .skills-card-text {
    gap: 0.5em;
  }
  .grid-1 {
    display: block;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 1;
  }
  .grid-1 .skills-card-text {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0.5em;
  }
  .grid-4 {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 2;
    display: block;
  }
  .grid-4 img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 450px) {
  .skills-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
  .skills-card-text {
    gap: 1em;
  }
  .grid-1 {
    display: block;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 1;
  }
  .grid-1 .skills-card-text {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0.5em;
  }
  .grid-3 {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 5;
  }
  .grid-4 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 1;
    display: block;
  }
}

.about {
  margin-top: 120px;
}

.about .about-main-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.about .about-main-flex .about-text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 600px;
}

.about .about-main-flex .about-text-block .title-about {
  text-align: start;
}

.about .about-main-flex .about-text-block .about__subtitle {
  color: #8f95a5;
  line-height: 30px;
}

.about .about-main-flex .about-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  max-width: 500px;
  width: 100%;
  max-height: 400px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-flex .box-1,
.about-flex .box-2,
.about-flex .box-3 {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.about-flex .box-1__title,
.about-flex .box-2__title,
.about-flex .box-3__title {
  font-size: 3em;
  color: #263238;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-flex .box-1__subtitle,
.about-flex .box-2__subtitle,
.about-flex .box-3__subtitle {
  font-size: 1.25em;
  color: #8f95a5;
}

@media (max-width: 992px) {
  .about {
    margin-top: 70px;
  }
  .about .about-main-flex .about-text-block .about__subtitle {
    line-height: 20px;
    font-size: 0.7em;
  }
  .about .about-main-flex .about-text-block .about-flex .box-1,
  .about .about-main-flex .about-text-block .about-flex .box-2,
  .about .about-main-flex .about-text-block .about-flex .box-3 {
    font-size: 0.7em;
  }
}

@media (max-width: 767px) {
  .about {
    margin-top: 50px;
  }
  .about .about-main-flex .about-text-block .about__subtitle {
    margin-top: 20px;
    line-height: 15px;
    font-size: 0.7em;
  }
  .about .about-main-flex .about-text-block .about-flex {
    margin-top: 20px;
  }
  .about .about-main-flex .about-text-block .about-flex .box-1,
  .about .about-main-flex .about-text-block .about-flex .box-2,
  .about .about-main-flex .about-text-block .about-flex .box-3 {
    font-size: 0.6em;
  }
}

@media (max-width: 575px) {
  .about .about-main-flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .about-main-flex .about-text-block .title-about {
    text-align: center;
  }
  .about .about-main-flex .about-text-block .about__subtitle {
    line-height: 15px;
    font-size: 0.7em;
  }
  .about .about-main-flex .about-text-block .about-flex .box-1,
  .about .about-main-flex .about-text-block .about-flex .box-2,
  .about .about-main-flex .about-text-block .about-flex .box-3 {
    font-size: 0.6em;
  }
  .about .about-main-flex .about-img {
    text-align: center;
    height: 350px;
  }
}

@media (max-width: 450px) {
  .about {
    margin-top: 40px;
  }
  .about .about-main-flex .about-img {
    height: 250px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.price {
  margin-top: 120px;
}

.price-grid__card {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.flex-card {
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.top-card {
  gap: 20px;
}

.price-card__img {
  width: 100%;
  height: 340px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 20px;
}

.price-card__titile {
  font-size: 30px;
  color: #263238;
  font-weight: 600;
  margin-bottom: 20px;
}

.price-card__subtitile {
  font-size: 20px;
  color: #8f95a5;
}

.price-card__number {
  font-size: 30px;
  color: #263238;
  background: #eee;
  width: 70%;
  text-align: center;
  padding: 0.3em;
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */